
body {
    font-family: 'Anton SC';
    font-size: 15px;
    padding: 10px;
  }
 h3 {
    padding: 15px;
 }
 
  * {
    box-sizing: border-box;
  }
   .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
   .col-25 {
    -ms-flex: 25%;
    flex: 25%;
  }
   .col-50 {
    -ms-flex: 50%;
    flex: 50%;
  }
   .col-75 {
    -ms-flex: 75%;
    flex: 75%;
  }
   .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
   .container {
    background-color: rgb(236, 205, 225);
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
   input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'Anton SC';
    font-size: 10px;
  }
   label {
    margin-bottom: 10px;
    display: block;
  }
  
   
   a {
    color: #106e4d;
  }
   hr {
    border: 1px solid lightgrey;
  }
  
   @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
 
 .show-cart {
    background-color: rgb(243, 228, 238);
    padding: 15px;
    margin: 15px;
 }

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd; 
    padding-bottom: 10px;
}

.cart-text {
    flex: 1; 
    margin-right: 20px; 
}



 /*
 adapted from:
 https://www.codewithfaraz.com/content/75/how-to-create-a-pure-css-responsive-checkout-form-page-in-two-minutes
 */
 